[user]
    name = Giorgio Bertolotti
    email = giorgiobertol@gmail.com
[color]
        ui = true
[format]
        pretty = oneline
[core]
[alias]
        ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --decorate --numstat
        lf = log --follow --summary --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --
        lfdet = log --follow --summary -p --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --
        tag-diff = "!f() { git log $(git describe --tags --abbrev=0)..HEAD --oneline; };f"
[core]
        editor = vim
        autocrlf = input
